@import '~@angular/material/theming';

.clickable {
    cursor: pointer;

    &:hover {
        @include mat-elevation(8);
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.486);
    }
}

* {
    bottom: 0;
    box-sizing: border-box;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
mat-card {
    color: aqua;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486);
    padding: 10px;
    text-align: center;
    background-color: #000000;
}

mat-toolbar {
    color: rgb(81, 235, 255);
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #010a0a00;
}

h2 {
    margin-left: 200px;
}

mat-card-title {
    padding-top: 50px;
    font-size: xx-large;
    color: rgb(94, 96, 223);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 70px;
    }
}